.contact-container {
    background: url('./../data/Contact.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0px;
}

.contact-overlay {
    height: 70vh;
    width: 85vw;
    border-radius: 40px 40px;
    background-color: #C1BDF9;
    box-shadow: 5px 5px 5px 5px #998794;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact-title-container {
    width: 40vw;
    height: 60vh; 
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 50px;
    background-image: url('./../data/mesh-138.png');
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}

.contact-title {
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Rubik Mono One';
    font-size: xx-large;
    text-shadow: white 2px 2px 6px;
}

.socials-container {
    width: 40vw;
    height: 60vh;
    display:flex;
    flex-direction: column;
}

.social-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    margin: 5vh;
}

.social-title {
    font-family: 'Rubik Mono One';
    font-size: 3vh;
    color: black;
    text-shadow: white 2px 2px;

}

.social-user {
    font-family: 'Rubik';
    font-size:larger;
    color: black;
    font-weight: 500;
}

.social-image {
    width:30px;
    height:30px;
    margin-right: 1vw;
}

.resume-social-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: fit-content;
}

.contact-resume-button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.contact-resume-text, .contact-resume-blurb{
    color: #E5E1F8;
    margin-right: 8px;
    margin-left: 13px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Rubik One";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.contact-resume-button button{
    width: 210px;
    height: 61px;
    border-radius: 10px;
    background: #7840E5;
    border:none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    
    :visited {
        color: inherit;
    }
}


@media (max-width: 800px) {
    .contact-overlay {
        flex-direction: column;
        height: 60vh;
    }

    .contact-title-container {
        width: 70vw;
        height: 40vh;
        background: none;
    }

    .contact-title {
        font-size: 4vh;
        margin: 0;
        margin-top: 5vh;
    }

    .socials-container {
        flex-direction: column;
        width: 70vw;
        align-items:stretch;
    }

    .contact-resume-button {
        height: fit-content;
    }

    .resume-social-container {
        width: 70vw;
        display: flex;
        margin-bottom: 5vh;

    }

    .contact-resume-blurb {
        display: none;
    }

    .social-option {
        width: 70vw;
        margin-left: 0vw;
        flex-wrap: wrap;
    }

    .social-title {
        font-size: 2vh;
    }

    @media (max-width: 650px) {
        .contact-title-container{
            height:fit-content;
        }

        .contact-title{
            text-align: center;
            margin-bottom:2vh;
        }

        .social-option {
            margin-top:0;
            margin-bottom:1vh;
        }

        .socials-container {
            justify-content: space-around;
        }
    }

}
