.exp-card-container {
  width: 80vw;
  height: fit-content;
  min-height: 30vh;
  border-radius: 10px;
  background: #ccf3f7;
  border: E0F5F7 2px 2px;
  box-shadow: #aba6ec 5px 5px 3px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 5vh;
}

.exp-card-intro {
  display: flex;
  flex-direction: column;
}

.exp-card-blurb {
  display: flex;
  flex-direction: row;
  font-family: Rubik;
}

.exp-card-title, .lessons-title {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 0;
}

.tech-stack-container {
  width: 15vw;
  margin: 1vw;
  right: 10%;
  background-color: #aba3e994;
  opacity: 0.85;
  border-radius: 10px;
  min-height: 25vh;
}

.tech-stack-title {
  font-family: "Rubik Mono One";
  font-size: larger;
  margin: 1vh;
  margin-bottom: 0;
}

.techstack ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tech {
  width: 35vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1vw;
}

.tech-image {
  margin: 3vw;
  height: 20vh;
  width: 20vh;
}

.exp-card-about {
  margin-left: 2vw;
  width: 40vw;
}

.exp-card-lessons {
  width: 75vw;
}

.exp-card-lessons ol {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.exp-card-lessons li {
  margin-left: 1.5vw;
}

@media (max-width: 1000px) {
  .tech {
    flex-direction: column;
  }

  .tech-stack-container {
    width: 35vw;
    flex-direction: auto;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .exp-card-container {
    flex-direction: column;
  }

  .exp-card-blurb {
    width: 65vw;
  }

  .exp-card-title {
    margin-left: 2vw;
  }

  .tech-stack-container {
    width: 32vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .tech {
    flex-direction: column;
    width: 35vw;
    justify-content: center;
    align-items: center;
  }

  .tech-image {
    margin-bottom: 3vh;
  }

  .exp-card-lessons ol {
    flex-direction: column;
  }
}

@media (max-width: 650px) {

  .exp-card-blurb {
    flex-direction: column;
    width: 70vw;
  }

  .exp-card-about {
    width: 68vw;
  }

  .tech {
    width: 80vw;
    justify-content: space-around;
    flex-direction: row;
  }

  .lessons-title {
    display: none;
  }

  .exp-card-lessons {
    display: none;
  }


}
