.exp-container {
    display: flex;
    flex-direction: column;
    background-color: #E4E0F7;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.exp-title {
    margin: 30px;
    font-family: 'Rubik Mono One';
    color: rgb(43, 43, 40);
    text-shadow: #eccee5 4px 3px;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    font-weight: 400;
    display:flex;
    width: -webkit-fill-content;
}

.exp-card {
    
}