.exp-card-container {
  width: 70vw;
  height: fit-content;
  min-height: 30vh;
  border-radius: 5px;
  background: #eccee5;
  box-shadow: #a692a1 5px 5px 5px;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;

  @media (max-width: 600px) {
    flex-direction: column;

  }
}

.exp-card-blurbs {
  width: 35vw;

  @media (max-width: 600px) {
    width: 65vw;
  }
}

.exp-card-title {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2vw;
  margin-top: 1vh;

  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.tech-stack-container {
  width: 15vw;
  margin: 1vw;
  right: 10%;
  background-color: #5e32b2;
  opacity: 0.85;
  border-radius: 1px;

  /* height: fit-content; */
  min-height: 25vh;
  @media (max-width: 600px) {
    width: 50vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

.tech-stack-title {
  font-family: "Rubik Mono One";
  font-size: larger;
  margin: 1vh;
}

.tech {
  width: 35vw;
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
  }
}

.tech-image {
  margin: 3vw;
  height: 20vh;
  width: 20vh;
  @media (max-width: 600px) {
    margin-bottom: 3vh;
  }
}

.exp-card-about {
  margin-left: 2vw;
}
