.exp-card-container {
  width: 70vw;
  height: fit-content;
  border-radius: 5px;
  background: #eccee5;
  box-shadow: #a692a1 5px 5px 5px;
  margin: 25px;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}

.exp-card-blurbs {
  width: 35vw;
}

.exp-card-title {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  margin-top: 10px;
}

.tech-stack-container {
  width: 18vw;
  right: 10%;
  background-color: #5e32b2;
  opacity: 0.85;
  border-radius: 1px;
}

.tech-stack-title {
  font-family:'Rubik Mono One';
  font-size: larger;
}

.tech {
  width: 35vw;
  display: flex;
  flex-direction: row;
}