.main-hero {
  background: #e4e0f7;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-container {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15vh;
}

.hero-wave {
  width: 5vw;
  height: 6vh;
  margin-right: 3vw;
  margin-bottom: 5vh;

}

.hero-image-container {
  display: flex;
  flex-direction: row;
  width: 45vw;
  height: 35vw;
}

.hero-image {
  background-image: url(./../data/mereal.png);
  height: 35vw;
  width: 35vw;
  margin-left: 5vw;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  overflow: visible;
}

.hero-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-link {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
}

.hero-blurb {
  margin-left: 10vw;
  width: 38vw;
  height: 20vh;
  color: #000;
  font-family: Rubik;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
}

.hero-welcome {
  margin-top: 10vh;
  display: inline-flex;
  width: 35vw;
  align-items: center;
}

.welcome-title {
  color: #000;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


@media(max-width: 1000px) {
  /* .hero-image {
    min-width: 350px;
    min-height: 350px;
  } */
}
@media (max-width: 800px) {
  .hero-container{
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 8vh;
    margin-top: 8vh;
  }

  .hero-wave {
    margin-right: 10vw;
  }

  .hero-image-container {
    width: 80vw;
    height: 38vh;
    flex-direction: column;
    align-items: center;
  }

  .hero-links {
    flex-direction: row;
    margin-bottom: none;
  }

  .hero-image {
    width: 60vw;
    height: 29vh;
    margin-left: 0px;
    margin-right: 0px;
  }

  .hero-blurb {
    width: 80vw;
    height: fit-content;
    font-size: 5vw;
    margin: 0px;
  }

  .hero-welcome {
    width: 80vw;
    margin-bottom: 0px;
    margin-top: 1vh;
  }
}