.main-hero {
  background: #e4e0f7;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.hero-container {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15vh;

  @media (max-width: 800px) or (orientation: portait) {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 8vh;
    margin-top: 8vh;
  }
}

.hero-wave {
  width: 5vw;
  height: 6vh;
  margin-right: 3vw;
  margin-bottom: 5vh;

  @media (max-width: 800px) or (orientation: portait) {
    margin-right: 10vw;
  }
}

.hero-image {
  background-image: url(./../data/mereal.png);
  height: 35vw;
  width: 35vw;
  margin-right: 10vw;
  margin-left: 6.5vw;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  overflow: visible;

  @media (max-width: 1000px) or (orientation: portait)  {
    min-width: 350px;
    min-height: 350px;
  }

  @media (max-width: 800px) or (orientation: portait) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.hero-blurb {
  margin-left: 10vw;
  width: 38vw;
  height: 20vh;
  color: #000;
  font-family: Rubik;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
  @media (max-width: 800px) or (orientation: portait)  {
    width: 80vw;
    height: fit-content;
    font-size: 5vw;
    margin: 0px;
  }
}

.hero-welcome {
  margin-top: 10vh;
  display: inline-flex;
  width: 35vw;
  align-items: center;

  @media (max-width: 800px) or (orientation: portait) {
    width: 80vw;
    margin-bottom: 0px;
  }
}

.welcome-title {
  color: #000;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}