.navbar-container {
  display: flex;
  border-bottom:solid 1px rgba(0, 0, 0, 0.3);
  background-color: #ECCEE5;
  margin-right: auto;
  align-items: center;
  height: 60px;
  font-family: 'Rubik One';
  font-size: 60;
}

.navbar-return{
    font-family: 'Rubik Mono One';
    font-size: 40px;
    margin-right: auto;
    margin-left:10px;
}

.navbar-pages-container {
    display: flex;
    margin-right: 10px;

}

.navbar-option {
    margin-left:auto;
    margin-right:30px;
}