.projects-container {
  display: flex;
  flex-direction: column;
  background-color: #B7BCF3;
}

.projects-title {
  font-family: "Rubik Mono One";
  color: rgb(0, 0, 0);
  text-shadow: rgb(192, 255, 208) 3px 3px;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  font-weight: 400;
  display: flex;
  width: -webkit-fill-content;
  z-index: 1;
}


.project-cards-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-background div {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  position: relative;
  top: 0;
  overflow: hidden;
}

.project-card-title {
  position: absolute;
  color: rgb(192, 255, 208);
  font-family: "Rubik One";
  font-size: larger;
  text-shadow: 2px 2px #5e32b2;
}

.project-more {
  position: absolute;
  bottom: 2%;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.motion-card {
  background: "pink";
  background-size: "cover";
  cursor: pointer;
}

.motion-card:hover .project-more {
  color: #db3069;
  border-color: #db3069;
  background-color: #e5e1f8;
  box-shadow: #5332b2 1px 1px;
  border:#5e32b2 2px 2px;
}


.project-more:hover {
  border:#5e32b2 2px 2px;
  box-shadow: 3px 3px;
}

.project-dialog {
  size: fit-content;
  
}