.card-background div{
    width: 369px;
    height: 369px;
    background: url('./../data/perk-demo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position:relative;
    top:0;
}

.card-background:hover div::after {
    content: "";
    position:absolute;
    width: 369px;
    height: 369px;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
}

/* .card-background:hover .card-background div{
    transition: 0.5s;
    transform: scale(1.2);
} */

/* .project-card-container p {
    font-family: "Rubik One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F5F5F5;
} */

.project-card-display {
    width: 337px;
    height: 337px;
    margin: 30px;
    background-image: url('./../data/perk-demo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 369px;;
}