.projects-container {
  display: flex;
  flex-direction: column;
  background-color: #b7bcf3;
}

.projects-title {
  font-family: "Rubik Mono One";
  color: rgb(0, 0, 0);
  text-shadow: rgb(192, 255, 208) 3px 3px;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  font-weight: 400;
  display: flex;
  width: -webkit-fill-content;
  z-index: 1;
  display:flex;
  flex-direction: row;
}

.project-cards-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-background div {
  width: 320px;
  height: 320px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  position: relative;
  top: 0;
  overflow: hidden;
}

.project-card-title {
  position: absolute;
  color: rgb(192, 255, 208);
  font-family: "Rubik One";
  font-size: larger;
  text-shadow: 2px 2px #5e32b2;
}

.project-more {
  position: absolute;
  bottom: 2%;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  font-family: Rubik;
}

.motion-card {
  background: "pink";
  background-size: "cover";
  cursor: pointer;
}

.motion-card:hover .project-more {
  color: #201f34;
  border-color: #87f4bd;
  background-color: #e5ede7;
  box-shadow: #87f4bd 1px 1px;
  border: #87f4bd 2px 2px;
}

.project-more:hover {
  background-color: #201f34;
  border: #2e2d31 2px 2px;
  box-shadow: 3px 3px;
}

.dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #E5EDE7;
  
}

.project-title {
  font-size: x-large;
  font-family: "Rubik Mono One";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  background: #E5EDE7;
}

.project-title a{
  padding-left: 16px;
}

.project-images {
  display:flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  max-width: fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-about {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.project-summary {
  font-family: 'Rubik';
  margin: 5px;
  margin-left: 20px;
  max-height: 40vh;
  width: fit-content;
  max-width: 600px;
  width: fit-content;
  display:flex;
  align-items: center;
}

.tech-stack-container {
  background: #bdc1f2;
  border-radius: 15px;
  max-width: 600px;
  width: fit-content;
  height: 18vh;
  margin-top: 2vw;
  margin-left: 2vw;
  box-shadow: #663eaf 2px 2px 2px;
}

.tech-stack-title {
  font-family: 'Rubik One';
  font-size:larger;
  margin: 5px;
}

.tech-stack {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.tech-element {
  margin: 3px;
  width: 70px;

  svg {
    width: 70px;
    height: 70px;
  }
}
@media(max-width: 800px) {
  .dialog {
    flex-direction: column;
  }

  .project-summary {
    max-width: none;
  }

  .tech-stack-container {
    max-width: 80vw;
  }
}

@media (hover: none) {
  .project-more {
  color: #201f34;
  border-color: #87f4bd;
  background-color: #e5ede7;
  box-shadow: #87f4bd 1px 1px;
  border: #87f4bd 2px 2px;
}
}