.main-timeline {
    margin-top: 20vh;
    right: 22vw;
    max-width: 70vw;
    position: relative;
    padding: 2em 0;
    height: max-content;

    @media(max-width: 600px) {
        right: 1vw;
        margin-right: 1vw;
        margin-left: 1vw;
        width: 90vw;
    }
}

.timeline-image {
    height: 60px;
    width: 60px; 
    position:relative;
    left: 460px;
}

.vertical-timeline-element-title {
    font-family: 'Rubik One';
    font-size: x-large;
    margin-bottom: 1vh;
}
