@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0px;
  background-color: rgba(171,166,236,1);
}

::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}
