@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background: #6570e6;
}
.navbar-container {
  background: #6570e6;
}

.more-main {
  height: fit-content;
  background: -webkit-linear-gradient(
    90deg,
    hsla(204, 33%, 85%, 1) 0%,
    hsla(235, 72%, 65%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CDDCE6", endColorstr="#6873E6", GradientType=1 );
  display: flex;
  flex-direction:column;
  align-items: center;
}

body {
  margin: 0px;
  background-color: rgba(171, 166, 236, 1);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.more-title {
  width: 100vw;
  margin-top: 15vh;
  font-family: "Rubik Mono One";
  font-size: 80px;
  text-align: center;
  text-shadow: hsla(204, 33%, 85%, 1) 4px 4px 2px;
}

.more-explained {
  width: 60vw;
  margin-bottom: 2vw;
  text-align: left;
  font-family: Rubik
}

.more-cards-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.more-card {
  margin: 2vw;
  width: 450px;
  height: 450px;
  border-radius: 16px;
  background: #cceaf7;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url("./../data/waveAgain.png");
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.26);
}

.artmus {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.more-about {
  width: 60vw;
  margin-bottom: 2vw;
  text-align: left;
  font-family: Rubik
}