.intro-about {
  background-image: url("./../../data/background-real.png");
  background-size:contain;
}

.title {
  font-family: Optima, sans-serif;
  font-size: xx-large;
  margin-top: 0;
  margin-bottom: 4px;
  border-bottom: #fffff0 solid 1px;
  width: 100%;
  color: ivory;
  padding-top: 30px;
}

.main {
  width: 100%;
  height: fit-content;
}

.about-item {
  margin: 50px;
  margin-top: 25px;
  height: 200px;
  display: flex;
  justify-content: center;
  font-family: Optima, sans-serif;
}

.about-image-box {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.about-item-description {
  font-family: Optima, sans-serif;
  color: ivory;
}

.about-item-description-title {
  font-size: x-large;
}

.about-item-description-about {
  font-size: medium;
}

.intro-title {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro-paragraph {
  font-family: Optima, sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.intro-name {
  margin-left: 20px;
  font-size: xx-large;
  font-family: Optima, sans-serif;
  font-weight: bolder;
}
