/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/

body {
  margin: 0;
  padding: 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/Pages/Main/about.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.intro-about {
  background-image: url(/_next/static/media/background-real.edf95fac.png);
  background-size:contain;
}

.title {
  font-family: Optima, sans-serif;
  font-size: xx-large;
  margin-top: 0;
  margin-bottom: 4px;
  border-bottom: #fffff0 solid 1px;
  width: 100%;
  color: ivory;
  padding-top: 30px;
}

.main {
  width: 100%;
  height: fit-content;
}

.about-item {
  margin: 50px;
  margin-top: 25px;
  height: 200px;
  display: flex;
  justify-content: center;
  font-family: Optima, sans-serif;
}

.about-image-box {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.about-item-description {
  font-family: Optima, sans-serif;
  color: ivory;
}

.about-item-description-title {
  font-size: x-large;
}

.about-item-description-about {
  font-size: medium;
}

.intro-title {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro-paragraph {
  font-family: Optima, sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.intro-name {
  margin-left: 20px;
  font-size: xx-large;
  font-family: Optima, sans-serif;
  font-weight: bolder;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/ResumeButton.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.resume-button {
    width: 133px;
    height: 48px;
    background-color: #7840E5;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.resume-text {
    font-family: 'Rubik One';
    color: ivory;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.25);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/navbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.navbar-container {
  display: flex;
  border-bottom:solid 1px rgba(0, 0, 0, 0.3);
  background-color: #ECCEE5;
  margin-right: auto;
  align-items: center;
  height: 60px;
  font-family: 'Rubik One';
  font-size: 60;
}

.navbar-return{
    font-family: 'Rubik Mono One';
    font-size: 40px;
    margin-right: auto;
    margin-left:10px;
}

.navbar-pages-container {
    display: flex;
    margin-right: 10px;

}

.navbar-option {
    margin-left:auto;
    margin-right:30px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/footer.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.footer-main-body {
    background-color: #011627;
    border-radius: 1px;
    height: 100px;
    color: ivory;
    font-family: Optima, sans-serif;
    font-size: medium;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/contact.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.contact-title {
    font-family: Optima, sans-serif;
    border-bottom: 1px solid black;
    font-size: xx-large;
    margin: 30px;
    margin-left:0px;
    width:100%;
    margin-bottom: 50px; 
    text-align: center;
    align-items: center;
}
