/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/

:root {
  background-image: url("/_next/static/media/mesh-354 (1).69914175.png");
}

:body {
  margin: unset;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/Pages/Main/navbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.navbar-container {
  display: flex;
  background-color: #fef9ef;
  opacity: 0.35;
  margin-right: auto;
  align-items: center;
  margin:unset;
  height: 50px;
  border-radius: 5px;
}

.navbar-return{
    margin-right: auto;
    margin-left:5px;
}

.navbar-pages-container {
    display: flex;
    margin-right: 5px;
}

.navbar-option {
    margin-left:auto;
    margin-right:30px;
}
